
<!-- begin columns -->

    <td>
      <input id="selected_item_{{wrapped.wrapped_object.id}}" form="{{ form_action_name }}" name="{{ form_action_selected_items_name }}" type="checkbox" value="{{wrapped.wrapped_object.id}}" />
    </td>
    <td>
        <div class="btn-group">
           <a title="Edit manifest" role="button" href="{{ wrapped.href }}" class="btn btn-default btn-sm"><i class="fa fa-pencil fa-fw"></i></a>
           <a role="button" href="{% url manage_manifest_listboard_url_name manifest_identifier=wrapped.manifest_identifier action_name='manage' %}" class="btn btn-default btn-sm">Manage</a>
           <a role="button" href="{% url manifest_listboard_url_name %}" class="btn btn-default btn-sm {% if not wrapped.verified %}disabled{% endif %}">Ship</a>
        </div>&nbsp;
    </td>
    <td>
      <span class="text text-identifier">
      {{ wrapped.wrapped_object.human_readable_identifier }}
      </span>
    </td>
    <td>
      {{ wrapped.manifest_datetime|date:"Y-m-d H:i" }}
    </td>
    <td>
      {% if wrapped.shipped %}
        <span class="text text-success"><i class="fa fa-check-circle fa-fw" title="Shipped"></i></span>
      {% else %}
        <span class="text text-danger"><i class="fa fa-times-circle fa-fw" title="Not shipped"></i></span>
      {% endif %}
    </td>
    <td>
      {{ wrapped.user_created }}
    </td>
    <td>
      {{ wrapped.user_modified }}
    </td>
    <td>
      {{ wrapped.hostname_created }}
    </td>

<!-- end columns -->
