{% extends "edc_lab/listboard.html" %}


{% block panel_action_buttons %}
             
    <a href="{{ new_manifest.href }}" role="button" class="btn btn-sm btn-default" />New manifest</a>

{% endblock panel_action_buttons %}

{% block panel_action_hidden %}
{% endblock panel_action_hidden %}                   


{% block results_header %}
    {% include 'edc_lab/listboard/manifest/results_header.html' %}
{% endblock results_header %}

{% block results_body %}
    {% include 'edc_lab/listboard/manifest/results_body.html' %}
{% endblock results_body %}
